@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

  @theme {
    --font-main: 'Lekton', monospace;
    --color-dark-green: #073605;
  }

  /* video {
    width: 100%;
  } */