<div class="bg-white text-dark-green font-mono">
  <main class="w-full">
    <div class="relative isolate">
      <svg
        class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]"
        aria-hidden="true">
        <defs>
          <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1"
            patternUnits="userSpaceOnUse">
            <path d="M.5 200V.5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z"
            stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
      </svg>
      <div class="absolute top-0 right-0 left-1/2 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48"
        aria-hidden="true">
        <div class="aspect-801/1036 w-[50.0625rem] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="
            clip-path: polygon(
              63.1% 29.5%,
              100% 17.1%,
              76.6% 3%,
              48.4% 0%,
              44.6% 4.7%,
              54.5% 25.3%,
              59.8% 49%,
              55.2% 57.8%,
              44.4% 57.2%,
              27.8% 47.9%,
              35.1% 81.5%,
              0% 97.7%,
              39.2% 100%,
              35.2% 81.4%,
              97.2% 52.8%,
              63.1% 29.5%
            );
          "></div>
      </div>
      <div class="overflow-hidden font-font-main">
        <div class="mx-auto max-w-7xl px-6 pt-36 pb-32 sm:pt-60 lg:px-8 lg:pt-32">
          <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
            <div class="relative w-full lg:max-w-xl lg:shrink-0 xl:max-w-2xl">
              <h1 class="!text-7xl !font-semibold tracking-tight text-pretty !text-dark-green sm:!text-7xl">
                Changing the music through images
              </h1>
              <p class="mt-8 text-lg font-medium text-pretty text-dark-green sm:max-w-md sm:text-xl/8 lg:max-w-none">
                Some punch line about your work. Should be catchy and
                interesting.
              </p>
              <div class="mt-10 flex items-center gap-x-6">
                <%= link_to 'Immerse' , posts_path, class: 'rounded-md
                bg-white px-3.5 py-2.5 text-sm font-semibold text-dark-green
                shadow-md hover:shadow-xs hover:bg-white hover:text-red-800 focus-visible:outline-2
                focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
              </div>
            </div>
            <div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
              <div
                class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
                <div class="relative">
                  <img
                    src="https://i.vimeocdn.com/video/1589909037-5b926279a68097199c8b13624baa1de355bd8adc705f24efdacc4d769d3fa744-d_639x1138?&r=pad"
                    alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg" />
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"></div>
                </div>
              </div>
              <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
                <div class="relative">
                  <img
                    src="https://i.vimeocdn.com/video/1851109719-0caf4e1cf4a9deb6c62753fd8246b9aec82f2f2f0199636426129088954f442a-d_639x1138?&r=pad&auto=format&fit=crop&h=528&q=80"
                    alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg" />
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"></div>
                </div>
                <div class="relative">
                  <img
                    src="https://i.vimeocdn.com/video/1881628290-4a904b78d83407a78799f47daf70161635c6dd3cb8c0cc3e79e6448f0fbb668b-d_959x1707?&r=pad&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=396&h=528&q=80"
                    alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg" />
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"></div>
                </div>
              </div>
              <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                <div class="relative">
                  <img
                    src="https://i.vimeocdn.com/video/1704692427-c95c72c1fa356011d9358fa93f2aa69ac367b51f63ce0aa6e068ec470081264b-d_639x1138?&r=pad&auto=format&fit=crop&crop=left&w=400&h=528&q=80"
                    alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg" />
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"></div>
                </div>
                <div class="relative">
                  <img
                    src="https://i.vimeocdn.com/video/1399547989-aadfff9537949c38057ed538028b1d79d50e572a94fd41ce38fcb47bc200409a-d_639x1138?&r=pad"
                    alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg" />
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>